**Constants**

In [22]:
NUMERICAL_DATA = ['VehOdo','VehicleAge','MMRAcquisitionAuctionAveragePrice','MMRAcquisitionAuctionCleanPrice','MMRAcquisitionRetailAveragePrice',
                     'MMRAcquisitonRetailCleanPrice','MMRCurrentAuctionAveragePrice','MMRCurrentAuctionCleanPrice',
                     'MMRCurrentRetailAveragePrice','MMRCurrentRetailCleanPrice','VehBCost','WarrantyCost']

In [52]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style="white", context="talk")
PATH = 'data/'

# Training data
data_TR = pd.read_csv(PATH + 'training.csv')
# Test data
data_TS = pd.read_csv(PATH + 'test.csv')
data_TOT = pd.concat([data_TS, data_TR])

data_TOT.shape

(72983, 34)

Numero totale di righe aventi almeno un Nan

In [53]:
data_TOT[data_TOT.isna().any(axis=1)].shape

(69707, 34)

Conto i price data che sono negativi o Nan per colonna

In [139]:
prd = data_TOT.loc[:, data_TOT.columns.isin(NUMERICAL_DATA) & ~data_TOT.columns.isin(['VehOdo','VehicleAge'])]

prd.apply(lambda s : s.apply(lambda x : (x <= 0 or np.isnan(x)))).sum()

MMRAcquisitionAuctionAveragePrice    846
MMRAcquisitionAuctionCleanPrice      715
MMRAcquisitionRetailAveragePrice     846
MMRAcquisitonRetailCleanPrice        846
MMRCurrentAuctionAveragePrice        819
MMRCurrentAuctionCleanPrice          693
MMRCurrentRetailAveragePrice         819
MMRCurrentRetailCleanPrice           819
VehBCost                               0
WarrantyCost                           0
dtype: int64

Conto i categorical data che sono Nan per colonna

In [134]:
cd = data_TOT.loc[:, ~data_TOT.columns.isin(prd.columns)]

cd.isna().sum()

RefId                       0
IsBadBuy                    0
PurchDate                   0
Auction                     0
VehYear                     0
VehicleAge                  0
Make                        0
Model                       0
Trim                     2360
SubModel                    8
Color                       8
Transmission                9
WheelTypeID              3169
WheelType                3174
VehOdo                      0
Nationality                 5
Size                        5
TopThreeAmericanName        5
PRIMEUNIT               69564
AUCGUART                69564
BYRNO                       0
VNZIP1                      0
VNST                        0
IsOnlineSale                0
dtype: int64

In [135]:
data_TOT.isna().sum()

RefId                                    0
IsBadBuy                                 0
PurchDate                                0
Auction                                  0
VehYear                                  0
VehicleAge                               0
Make                                     0
Model                                    0
Trim                                  2360
SubModel                                 8
Color                                    8
Transmission                             9
WheelTypeID                           3169
WheelType                             3174
VehOdo                                   0
Nationality                              5
Size                                     5
TopThreeAmericanName                     5
MMRAcquisitionAuctionAveragePrice       18
MMRAcquisitionAuctionCleanPrice         18
MMRAcquisitionRetailAveragePrice        18
MMRAcquisitonRetailCleanPrice           18
MMRCurrentAuctionAveragePrice          315
MMRCurrentAuctionCleanPrice            315
MMRCurrentRetailAveragePrice           315
MMRCurrentRetailCleanPrice             315
PRIMEUNIT                            69564
AUCGUART                             69564
BYRNO                                    0
VNZIP1                                   0
VNST                                     0
VehBCost                                 0
IsOnlineSale                             0
WarrantyCost                             0
dtype: int64

**INIZIO PULIZIA DATI**

In [136]:
df = data_TOT.copy()

** Proviamo a cavare tutte le righe corrispondenti che hanno un Nan in corrispondenza di una colonna che ha pochi Nan in totale (ad esempio le righe aventi prezzi privi di significato)**

In [137]:
few_nan_col = df.drop(columns=cd.columns[(cd.isna().sum() == 0) | (cd.isna().sum() > 1000)])

ind = few_nan_col[few_nan_col.apply(lambda s : s.apply(lambda x : (isinstance(x, float) and (x <= 0 or np.isnan(x))))).any(axis=1)].index

df = df.drop(index=ind)

In [138]:
few_nan_col.columns

Index(['SubModel', 'Color', 'Transmission', 'Nationality', 'Size',
       'TopThreeAmericanName', 'MMRAcquisitionAuctionAveragePrice',
       'MMRAcquisitionAuctionCleanPrice', 'MMRAcquisitionRetailAveragePrice',
       'MMRAcquisitonRetailCleanPrice', 'MMRCurrentAuctionAveragePrice',
       'MMRCurrentAuctionCleanPrice', 'MMRCurrentRetailAveragePrice',
       'MMRCurrentRetailCleanPrice', 'VehBCost', 'WarrantyCost'],
      dtype='object')

**Proviamo a cavare le due colonne malvagie**

In [124]:
df = data_TOT.drop(columns=['PRIMEUNIT', 'AUCGUART'])

In [125]:
df.apply(lambda s : s.apply(lambda x : (isinstance(x, float) and (x <= 0 or np.isnan(x))))).sum()

RefId                                   0
IsBadBuy                                0
PurchDate                               0
Auction                                 0
VehYear                                 0
VehicleAge                              0
Make                                    0
Model                                   0
Trim                                 2360
SubModel                                8
Color                                   8
Transmission                            9
WheelTypeID                          3174
WheelType                            3174
VehOdo                                  0
Nationality                             5
Size                                    5
TopThreeAmericanName                    5
MMRAcquisitionAuctionAveragePrice     846
MMRAcquisitionAuctionCleanPrice       715
MMRAcquisitionRetailAveragePrice      846
MMRAcquisitonRetailCleanPrice         846
MMRCurrentAuctionAveragePrice         819
MMRCurrentAuctionCleanPrice           693
MMRCurrentRetailAveragePrice          819
MMRCurrentRetailCleanPrice            819
BYRNO                                   0
VNZIP1                                  0
VNST                                    0
VehBCost                                0
IsOnlineSale                            0
WarrantyCost                            0
dtype: int64